QAction {
    background-color: rgb(7, 6, 6);
}

QToolBar{
    background-color:grey;
}

QLineEdit {
    /* border-radius: 50%; */
}

QIcon , QAction {
    background-color: white;
}

QMainWindow{
    background-color: grey;
}